<div class="container-fluid footer py-3">
    <div class="row">
        <div class="col-10 mx-auto d-flex justify-content-around">
            <a href="https://www.facebook.com/profile.php?id=100010858625629" class="footer-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/shrey_beast321/?hl=en" class="footer-icon"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCksPCuaE6xV5JlGIYNzHHsw" class="footer-icon"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>

<!-- jquery -->
<script src="/js/jquery-3.3.1.min.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- script js -->
<script src="/js/script.js"></script>
    </body>
</html>