<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="ShreyBeast">
        <!--Site verifications-->
        <title>ShreyBeast</title>
        
        <!-- bootstrap css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- font awesome -->
        <script src="/js/all.js"></script>
        <!--modernizr-->
        <script src="/js/modernizr-custom.js"></script>
        <!--typed js-->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    </head>
    <body>

<!--nav element-->
<nav class="navbar navbar-transparent navbar-initial">
    <a class="navbar-brand text-shadow" href="/">Shreyas Annapureddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <div class="toggler-btn">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link pr-2" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pr-2" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pr-2" href="#videos">Videos</a>
            </li>
            <li class="nav-item pr-2">
                <a class="nav-link " href="#blog">Blog</a>
            </li>
            <li class="nav-item pr-2">
                <a class="nav-link " href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<!--end of nav element-->